body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8a0f0f;
    font-style: italic;
}

header {
    background-color: #9c00879a;
    color: red;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    color: #4b0505b4;
}

p {
    margin-bottom: 1em;
}
